:root {
  --background-color: #051956;
  --container-color: #3451a1be;
  --input-color: #92afffc1;
  --primary-color: #ec06ff;
  --secondary-color: #c509d6;
  --font-color: #fafeff;
  --second-fontColor: rgba(242, 247, 251, 0.559);
}
