:root {
  --background-color: #051956;
  --container-color: #3451a1be;
  --input-color: #92afffc1;
  --primary-color: rgb(234, 6, 255);
  --secondary-color: rgb(197, 9, 214);
  --font-color: #fafeff;
}
